<h2 class="article-dialog-title">Adding a new article</h2>

<form class="article-dialog-form" [formGroup]="form">
  <mat-form-field appearance="fill">
    <mat-label>Author</mat-label>
    <input matInput [value]="formData.author.firstName + ' ' + formData.author.lastName" readonly>
  </mat-form-field>

  <mat-form-field hintLabel="Max 60 characters" appearance="fill">
    <mat-label>Enter title</mat-label>
    <input matInput #title maxlength="60" formControlName="title">
    <mat-hint align="end">{{title.value?.length || 0}}/60</mat-hint>
    <mat-error *ngIf="form.get('title')?.invalid && form.get('title')?.touched">
      <small>{{getErrorMessage('title')}}</small>
    </mat-error>
  </mat-form-field>

  <mat-form-field hintLabel="Max 200 characters" appearance="fill">
    <mat-label>Enter description</mat-label>
    <input matInput #description maxlength="200" formControlName="description">
    <mat-hint align="end">{{description.value?.length || 0}}/200</mat-hint>
    <mat-error *ngIf="form.get('description')?.invalid && form.get('description')?.touched">
      <small>{{getErrorMessage('description')}}</small>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Enter content</mat-label>
    <textarea matInput formControlName="content"></textarea>
  </mat-form-field>
</form>

<div class="article-dialog-buttons">
  <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="submit()">Save</button>
  <button mat-raised-button color="primary" (click)="cancel()">Close</button>
</div>
