<nav class="nav-header">
  <a [routerLink]="['/']" class="nav-header__logo">My Blog</a>
  <ul class="nav-header__menu">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-header__menu-item"><a [routerLink]="['/home']">Home</a></li>
    <li routerLinkActive="active" class="nav-header__menu-item">
      <a class="item-with-icon" (click)="openArticleDialog()">
        <img
          class="icon"
          src="assets/imgs/pencil-writing.png"
          width="16"
          height="16"
        />
        New Article
      </a></li>
    <li routerLinkActive="active" class="nav-header__menu-item"><a [routerLink]="['/sign-in']">User</a></li>
  </ul>
</nav>

