<div *ngIf="article" class="article-wrapper">
  <div class="head-line">
    <div class="head-line__content content">
      <mat-icon class="content__icon">mood</mat-icon>
      <div class="content__text">
        <span class="author">{{article.author}}</span>
        <span class="date">{{article.date | date:'MMMM d, yyyy'}}</span>
      </div>
    </div>
    <div class="head-line__favorites {{!article.favorite ? 'white' : 'green'}}"
         (click)="increaseFavorite.emit(article)"
    >
      <mat-icon svgIcon="heart"></mat-icon>
      <span class="amount">{{article.favorite}}</span>
    </div>
  </div>

  <p class="title">{{article.title}}</p>
  <p class="description">{{article.description}}</p>
  <div class="bottom-line">
    <a href="#" class="details">Read more...</a>
    <div class="edit-article"
         (click)="openArticleDialog.emit(article)"
    >
      <mat-icon svgIcon="pencil"></mat-icon>
      <span class="edit-article__text">Edit article</span>
    </div>
  </div>
</div>
