<div class="article-wrapper">
  <div class="head-line">
    <div class="head-line__content content">
      <img
        class="content__icon"
        src="assets/imgs/icon-laughing.png"
        width="50"
        height="50"
      />
      <div class="content__text">
        <span class="author">{{article.author}}</span>
        <span class="date">{{article.date | date:'MMMM d, yyyy'}}</span>
      </div>
    </div>
    <div class="head-line__favorites {{!article.favorite ? 'white' : 'green'}}" (click)="addFavorite()">
      <svg-icon [src]="heart" class="icon"></svg-icon>
      <span class="amount">{{article.favorite}}</span>
    </div>
  </div>

  <p class="title">{{article.title}}</p>
  <p class="description">{{article.description}}</p>
  <a href="#" class="details">Read more...</a>
</div>
