@font-face {
  font-family: "DejaVuSansRegular";
  src: url("../fonts/dejaVuSans.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "DejaVuSansBold";
  src: url("../fonts/dejaVuSansBold.ttf");
  font-style: normal;
  font-weight: normal;
}
