$main-green: #5db95b;
$main-gray: #b5b5b5;
$main-white: #ffffff;
$main-orange: #FF9800;
$main-blue: rgba(52, 152, 219, 0.7);

$light-gray: #e0e0e0;
$light-green: #81C784;
$light-blue: #3498db;

$dark-gray: #424242;
$dark-blue: rgba(52, 152, 219, 0.15);

$gray-400: #b5b5b5;
