@import "../../../styles/variables";

:host {
  position: relative;
}

.side-bar {
  position: absolute;
  top: 0;
  left: 25px;
  width: 287px;
  background-color: $light-gray;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 15px;
  color: $dark-gray;
  &-text {
    margin: 0;
    cursor: pointer;
  }
  &-title {
    margin: 0;
    padding-bottom: 8px;
  }
  &-tags-button {
    width: 150px;
    border-radius: 5px;
    border: 1px solid $dark-gray;
    margin: 10px 5px 0 0;
  }
}
